td {
  border: solid 1px black;
  padding: 7.5px;
}

a {
  color: rgb(0, 183, 255);
  font-weight: bold;
  text-decoration: none;
}

.matchupDiv {
  margin: 0px;
  width:70%;
}

.statusDiv {
  float: right;
}

.inProgress {
  color: yellow;
  text-align: right;
}

.fleshedOut {
  color: green;
}

.empty {
  color: rgb(255, 30, 0);
}